<p><%= @user.first_name %>,</p>
<br/>
<h2>Hola <%= @user.first_name %>!</h2>
<br/>
<p>¡En N-Bici estamos muy emocionados que hayas decidido unirte a nuestro spin studio!</p>
<br/>
<p>Si tienes alguna pregunta escríbenos a <a href="mailto:contacto@n-bici.com">contacto@n-bici.com</a> y con mucho gusto resolveremos tus dudas lo antes posible.</p><br/>
<p>Saludos,</p><br/>
<p>Team N-Bici</p><br/>
